body, input, button {
    font-family: CMU Serif, Verdana, Geneva, Tahoma, sans-serif;
}

.title_wrapper {
    float: left;
    margin-left: 20px;
}

.title {
    float: left;
}

.run_button {
    margin-top: 30px;
    margin-left: 30px;
    width: 100px;
    height: 30px;
}

.main_container {
    display: block;
    margin-left: 20px;
}

.dimensions_form input {
    width: 70px;
    font-size: 16px;
}

.main_container > div {
    margin-bottom: 30px;
}

.container_circuit {
    border-style: solid;
    border-width: 1px;
    width: 70%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    align-items: center;
    justify-items: center;
    place-self: center;
}

.sub_container_portes {
    grid-column: 1/2;
    grid-row: 1/2;
    aspect-ratio: 1;
    height: 50%;
    border: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

[id^="r0"] {
    border: none;
    font-size: 1.2em;
}


/* #notthisone {
    grid-column: 1/2;
    grid-row: 1/2;
    border-color: blueviolet;
    background-color:blueviolet;
} */

.side_pane {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 10px;
    width: 25%;
}

.container_portes {
    /* border-color: rgb(3, 42, 126); */
    /* border-radius: 5%; */
    /* border-style: solid; */
    /* width: 200px; */
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(0, 100px [col-start]);
    grid-template-rows: repeat(0, 100px [col-start]); */
    align-items: center;
    justify-items: center;
}


.porte {
    background-color: rgb(3, 42, 126);
    border-radius: 20%;
    border: none;
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    aspect-ratio: 1;
}
